@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="site.css">
</head>

<div class="scrolls" id="outer_wrapper">
    <div style="float: left; margin-top: 10px;" class="tableContainer">
        <div id="tablePosition1">
        </div>
    </div>
    <div style="float: left; margin-top: 100px;" class="tableContainer">
        <div id="tablePosition2">
        </div>
    </div>
</div>

<div id="foo">
    <button id="view" onclick="getView()">Get View</button>
    <button id="movement" onclick="getMoveCommand()">Get Move Command</button>
</div>